* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    max-width: 1320px;
    margin: auto;
    display: flex;
    background: blue
}

.menu {
    background: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
}

.menu a {
    text-decoration: none;
    color: gray;
    padding: 15px;
    display: block;
    width: 200px;
}

.menu li{
    position: relative;
}

.menu li:hover a {
    color: rgb(241, 122, 122);
    background-color: rgb(243, 240, 240);
}

.menu li{
    position: relative;
}

.menu li:hover .sub-menu{
    display: block;
}

.menu li:hover .sub-menu li a{
    background: #fff;
}

.menu li:hover .sub-menu li:hover a {
    color: rgb(243, 160, 160);
    background-color: rgb(207, 198, 198);
}

.sub-menu{
    display: none;
    position:absolute;
    list-style: none;
    left:200px;
    top: 0px;
    z-index: 1;
    padding: 0;
}