.container {
  margin-left: 2rem;
}
.postCardItem {
  width: 20rem;
  background-color: rgb(232, 228, 228);
}

.scroll {
  background-color: pink;
  border-radius: 50rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
