* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
section {
  margin-bottom: 30px;
}
.header {
  margin-bottom: 0;
}
/* Section carousel */
.carousel-title {
  font-size: 90px;
  font-weight: bold;
}
.carousel-description {
  font-size: 22px;
  font-weight: lighter;
}

.inner-text-right {
  color: #fff;
  text-align: right;
  top: 100px;
  right: 50px;
  z-index: 10;
}
.inner-text-right .carousel-description{
padding-left: 30%;
 }
.inner-text-left {
  color: #fff;
  text-align: left;
  top: 100px;
  left: 50px;
  z-index: 10;
}
.inner-text-left .carousel-description{
    padding-right: 30%;
     }
.contact-us {
  background-color: #f9004d;
  color: #fff;
  padding: 15px 40px;
  border-radius: 6px;
  border: 0px;
  top: 200px;
}
.btn-carousel {
  background-color: #f9004d;
  border-radius: 50%;
}

/* Section introduction */

.intro {
  text-align: center;
  line-height: 2;
  width: 100%;
}
.intro-title {
  padding-top: 25px;
  font-size: 20px;
}
.intro-content {
  color: grey;
  padding: 25px 60px;
}
.intro:hover {
  color: #fff;
  background-color: #f9004d;
  border-radius: 10px;
  box-shadow: 0 10px 25px 10px rgb(0 0 0 / 10%);
  transform: translateY(-5px);
  z-index: 2;
}
.intro:hover .intro-content {
  color: #fff;
}

/* Section services */
.services {
  background-color: #f8f9fa;
}
.service-img {
  border-radius: 5px;
  margin-bottom: 20px;
}
.read-more:hover {
  color: red;
}
/* Section counterup area */
.counterup-content {
  top: 100px;
  color: #fff;
  text-align: center;
}
.counterup-number{
    font-size: 70px;
    font-weight: bold;
    
}
.counterup-description{
    padding: 0 30px;
    font-size: 16px;
    
}
/* Section working process */
.working-process {
  background-color: #f8f9fa;
}
.working-process-right {
  padding-left: 20px;
}
.working-process-content {
  display: none;
}
.wp1-title:hover .wp1-content {
  display: block; /*tai sao code ko chay*/
}
.btn-work {
  background-color: #f9004d;
  color: #fff;
  padding: 15px 40px;
  border: 0px;
  border-radius: 6px;
  margin-top: 250px;
}

/* Section managing team */
.managing-team {
  text-align: center;
}
.avar {
  border-radius: 6px;
}

/* Section About */
.about {
  background-color: #f8f9fa;
}
.about-left h1 {
  font-size: 70px;
  font-weight: bold;
}
.about-left p,
li {
  color: grey;
}

/* Section brand list */
.brand-list .col-4 {
  border: solid 1px grey;
  padding: 40px;
}
.brand-list img {
  width: 25%;
}
.brand-list .col-4:hover {
  background-color: #f9004d;
  transform: scale(1.05);
  border-radius: 6px;
}

/* Section pricing plan */
.pricing-plan p {
  color: grey;
  padding-left: 20%;
  padding-right: 20%;
}
[class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

/* Classes Utilities*/
.d-flex {
  display: flex;
}
.j-center {
  justify-content: center;
}
.j-end {
  justify-content: end;
}
.j-between {
  justify-content: space-between;
}

.a-center {
  align-items: center;
}
.as-end {
  align-self: end;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
